{% extends 'base.html' %}
{% block title %}
<title>
    Car list
</title>

{% endblock %}

{% block content %}
    {% if cars %}
    <table class="table">
    <tbody>
    {% for car in cars %}
        <tr>
    <td>
        {{ car.model }}
    </td>
            <td>
        {{car.price }}
    </td>
        <td>
            <a href="{% url 'update_car'  car.id %}" class="btn btn-primary">Update</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
{% endblock %}