{% extends 'base.html' %}
{% block title %}
<title>
    Car list
</title>

{% endblock %}

{% block content %}
    {% if cars %}
    <table class="table">
    <thead>
    <tr>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Action(s)
        </th>
    </tr>
    </thead>
    <tbody>
    {% for car in page_obj.object_list %}
        <tr>
    <td>
        <a href="{% url 'car_detail' car.id %}" class="btn-link" >{{ car.model }}</a>
    </td>
            <td>
        {{car.price }}
    </td>
        <td>
            <a href="{% url 'update_car'  car.id %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'delete_car' car.id %}" class="btn btn-secondary">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


        <div class="pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; first</a>
             </li>
           <li class="page-item"> <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
           </li>
        {% endif %}



        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
            </li>
        {% endif %}

          </ul>
</div>
    {% endif %}

    <a href="{% url 'create_car'%}" class="btn btn-primary">Add new car</a>
{% endblock %}