{% extends 'base.html' %}


{% block title %}
<title>
Car details
</title>
{% endblock %}

{% block content %}
    {% if car %}
        <h2>Car Details</h2>
    <table class="table">
    <thead>
    <tr>
        <th>
            Model
        </th>
        <th>Price</th>
    </tr>
    </thead>
    <tr>
        <td disabled="true">{{ car.model }}</td>
        <td disabled="true">{{ car.price }}</td>
    </tr>
    </table>
    <a href="{% url 'list_cars' %}" class="btn btn-primary">Back</a>
    {% endif %}
{% endblock %}